.section-1
    .container
        .row
            .col-9.left
                h1 Chào mừng đến 
                    span #{settingGeneral.websiteName}
                p Sự trải nghiệm và hài lòng của quý khách luôn được chúng tôi đặt lên hàng đầu !
                a(href="#")
                    i.fa-solid.fa-bag-shopping
                    span Mua Ngay
            .col-3.swiper.mySwiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="/images/anh (1).jpeg" alt="")
                    .swiper-slide
                        img(src="/images/anh (3).jpg" alt="")
                    .swiper-slide
                        img(src="/images/anh (4).jpg" alt="")
                    .swiper-slide
                        img(src="/images/anh (8).jpg" alt="")